{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<nav>
    {{ if .Paginator.HasPrev }}
        <a href='/page/{{ .Paginator.Prev.PageNumber }}'>Previous page</a>
    {{ else }}
        <span class='disabled'>Previous page</span>
    {{ end }}

    <span>Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>

    {{ if .Paginator.HasNext }}
        <a href='/page/{{ .Paginator.Next.PageNumber }}'>Next page</a>
    {{ else }}
        <span class='disabled'>Next page</span>
    {{ end }}
</nav>
{{ end }}
